.section {
  min-width: 1rem;
  height: 1rem;
}

.section-gray {
  background-color: gray;
}

.section-red {
  background-color: red;
}

.section-yellow {
  background-color: yellow;
}

.section-green {
  background-color: green;
}
