.password-input {
  position: relative;
}

.password-input__closed-eye-icon,
.password-input__eye-icon {
  position: absolute;
  top: 15%;
  right: 4%;

  @media (max-width: 768px) {
    top: 20%;
  }

  @media (max-width: 600px) {
    top: 25%;
  }

  @media (max-width: 425px) {
    top: 30%;
  }
}
